#s01-gate02 {
    left: 5200px;
    top: var(--s04-gate-top);
}

.stone {
    width: 150px;
    height: 150px;
    background-image: url("../image/Rock.png");
    /*background-color: darkgray;*/
    border-radius: 40px 40px 0 0;
}

.stone-cloud {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: lightgray;
    border-radius: 10px;
    bottom: 200px;
    left: 100px;
}

#stone-speys {
    left: 5700px;
    top: var(--stone-speys-top);
}

#stone-triven {
    left: 6300px;
    top: var(--stone-triven-top);
}
