#s01-welcome {
    width: 300px;
    height: 300px;
    background-color: aqua;
    left: 400px;
    top: 100px;
}

#s01-description {
    width: 450px;
    height: 392px;
    background-image: url(../image/Monitor.png);
    left: 800px;
    top: 208px;
    background-size: 450px;
}

#s01-monitor-text {
    position: absolute;
    color: white;
    left: 40px;
    top: 40px;
    font-size: 1.5em;
    width: 350px;
}

#s01-gate01 {
    left: 1400px;
    top: 85px;
}

.project-board {
    width: 600px;
    height: 600px;
}

.board-plank {
    position: absolute;
    width: 100%;
    background-image: url('../image/Boardsign.png');
    background-size: 309px;
    background-color: rosybrown;
    padding: 10px;
    margin: 10px;
    height: 97px;
    color: whitesmoke;
    font-size: 1.1em;
    z-index: 90;
}

.board-plan-1 {
    top: 0;
}

.board-plan-2 {
    top: 140px;
}

.board-plan-3 {
    top: 280px;
}

.board-plank-standing {
    position: absolute;
    background-image: url('../image/WoodenPoll.jpg');
    width: 58px;
    left: 300px;
    top: 80px;
    height: 500px;
    z-index: 80;
}

.board-plank-inner {
    background-color: saddlebrown;
    opacity: 0.5;
    padding: 10px;
    position: absolute;
    width: 580px;
    height: 77px;
}

.board-plank-text {
    position: absolute;
    margin: 5px;
}

.project-board-title {
    font-family: '01-Digit', "Courier New", monospace;
    font-size: 3em;
    position: absolute;
    top: -80px;
    left: 10px;
    /*left: 250px;*/
}

#project-board-travix {
    left: 2000px;
    top: 100px;
}

#project-board-genius {
    left: 2400px;
    top: 100px;
    display: none; /* TODO: remove */
}

#project-board-finest {
    left: 2800px;
    top: 100px;
}

#project-board-abb {
    left: 3200px;
    top: 100px;
    display: none; /* TODO: remove */
}
