#s01-gate02 {
    left: 5200px;
    bottom: 515px;
}

#s02-stones {
    bottom: 0;
    position: absolute;
}

.stone {
    width: 150px;
    height: 150px;
    background-image: url("../image/Rock.png");
    border-radius: 40px 40px 0 0;
}

.stone-title {
    position: absolute;
    width: 400px;
    height: 200px;
    bottom: -30px;
}

.stone-cloud {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: lightgray;
    border-radius: 10px;
    bottom: 200px;
    left: 100px;
    padding: 10px;
    font-size: 1.2em;
}

#stone-speys {
    left: 5700px;
}

#stone-triven {
    left: 6300px;
}
